# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# CUSTOM
*.img
*.out
*.tmp
*.DS_store
Exercises/Ex1/filewriter
Exercises/Ex1/output
Labs/Lab3/exemple-rendiment/foo.plg
Labs/Lab3/exemple-rendiment/force.dat
Labs/Lab3/exemple-rendiment/read-from-disk
Labs/Lab3/exemple-rendiment/write-to-disk
Labs/Lab3/exemple-rendiment/write-to-disk1
Labs/Lab3/exemple-rendiment/write-to-disk2
Labs/Lab3/exemple-rendiment/write-to-disk-debug

